.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.carousel {
  overflow-x: hidden;
}

.carousel-inner {
  display: flex;
}

.carousel-inner img {
  flex-shrink: 0;
  width: 1200px;
  max-height: 500px;
  min-height: 350px;
  object-fit: cover;
  padding: 12px;
}

.carousel-bullets {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.carousel-bullet {
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-bullet-inner {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
}

.carousel-bullet:hover .carousel-bullet-inner:not(.active) {
  background-color: brown;
}

.carousel-bullet-inner.active {
  background-color: red;
}
